.cbxscratingreview-lratings-icon {
    position: relative;
}
.cbxscratingreview-lratings-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cbxscratingreview-mrposts-icon {
    position: relative;
}
.cbxscratingreview-mrposts-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cbxscratingreview-reviewform-icon {
    position: relative;
}
.cbxscratingreview-reviewform-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cbxscratingreview-postavgrating-icon {
    position: relative;
}
.cbxscratingreview-postavgrating-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cbxscratingreview-postreviews-icon {
    position: relative;
}
.cbxscratingreview-postreviews-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cbxscratingreview-userdashboard-icon {
    position: relative;
}
.cbxscratingreview-userdashboard-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cbxscratingreview-singlereview-icon {
    position: relative;
}
.cbxscratingreview-singlereview-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cbxscratingreview-editreview-icon {
    position: relative;
}
.cbxscratingreview-editreview-icon:before {
    content: ' ';
    background-image: url('../images/widget_icons/icon_common.png');
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}